body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


nav {
  background-color: burlywood;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 3px #383838;
}

ul.navbaritems {
  display: flex;
  justify-content: center;
  margin: 0;
}

li {
  list-style-type: none;
  margin-left: 5px;
  margin-right: 5px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #383838;
}

li a:hover {
  color: rgba(25, 189, 156, 0.87);
}


li.currently-active a {
  color: #2d8b66;
}

.about p {
  font-size: 15px;
  padding: 10px;
  border: 1px solid #383838;
}

.projects {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.project {
  max-width: 150px;
  flex: 1;
  border: 1px solid #383838;
  margin-right: 5px;
  border-radius: 5px;
}
